@charset "utf-8";
/* CSS Document */

body {
  background-color:#B9D5B9
}

h1 {
  	font-size:50px;
  	text-align: center;
	font-family: Gotham, Tahoma, sans-serif;
}



.center {
	display: block;
	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}
